/*Main skeleton*/


body {
  margin:                  0;
}
.masterContainer{
  margin:                  0;
  background-color:        #b0cad5;
  height:                  100%;
  width:                   100%;
  position:                relative;

}
.viewContainer {
  margin:                  0;
  background-color:        green;
  height:                  100%;
  width:                   85%;
  display:                 inline-block;
  vertical-align:          top;
  position:                relative;

}

.sideContainer {
  margin:                  0;
  background-color:        blue;
  height:                  100%;
  width:                   15%;
  display:                 inline-block;
  vertical-align:          top;

}


@media(max-width:760px){
  * {
    padding:                 0;
    margin:                  0;
    }

  .masterContainer {
    background-color:        #b0cad5;
    height:                  100%;
    width:                   100%;
    position:                relative;

  }
  .viewContainer {
    background-color:        green;
    height:                  80%;
    width:                   100%;
    display:                 block;
    vertical-align:          top;

  }

  .sideContainer {
    background-color:        blue;
    height:                  20%;
    width:                   100%;
    display:                 block;
    vertical-align:          top;

  }
}

/*End Main skeleton*/

/*Viewbox */
.viewBox {
  background-color:          purple;
  padding:                   4%;
  max-height:                90%;
  width:                     90%;
  position:                  absolute;
  top:                       0;
  margin:                    0 1% 0 1%;

}
.about {
  height: 100px;
  width:100px;
  background-color: red;
}



.plainButton{
border-width: 0;
border-style: none;
border-color: none;
/*transform: skewX(25deg);*/
outline: none;
}

.buttonPhaseTwo {

  background-color: #443242;
  color:white;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  -webkit-transform: translateX(5em) translateY(5em) scale(2, 2);
  transform: translateX(5em) translateY(5em) scale(2, 2);
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
  transition-duration: 2s;
  transition-timing-function: ease;
}



.expandMenuClassLeave {
  opacity: 0.01;
  width:0%;
  transition: opacity 300ms ease-in;
}
