/*lsmain*/
.LS_RenderedContents{
  font-size: 2.5em;
  color:#5c5c5c;
  padding: 4%;
}
 #output{
  height: 100%;
}
.LS_Overlay{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color: black;
  opacity: .6;
  z-index: 5;
}
.LS_OuterCont{
  padding: 1%;
opacity: 1;
z-index: 10;
position: fixed;
top: 10%;
left: 10%;
max-height: 77%;
max-width: 70%;
/* box-sizing: content-box; */
background-color: white;
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
}
.LS_titleOuter{
  height: 10%;

      justify-content: center;
      color: white;

      width: 100%;
      background-color: #F8F8FF;
      -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
      border: 1px solid grey;
      border-radius: 4px;
      color: black;
      font-size: x-large;
      width: 100%;
      /* align-self: center; */
      /* align-content: center; */
      /* justify-content: center; */
      text-align: center;
      font-weight: bold;
      align-items: center;
      z-index: 7;

}
.removeBtn{
  position: absolute;
  top:0;
  left: 0;
  color: red;
  font-size: 10vh;
}
.paragraph{
  /*height:100%;*/
  text-indent: 3em;

}

.LScontentItems{
  /*height:100%;*/

  font-weight: 1.5em;
  background-color: #F8F8FF;
}

.LSImageContainer{
height: 100%;
width: 100%;
background-color: white;
display: flex;
justify-content: center;
margin-top:5%;
text-indent: 0;
}
CodePenHandler{
  text-indent: 0;
}
.LS_headerContents{

height: 10%;
font-size: 5vh;
text-align: center;

}
.LS_contentsContainer img{
  align-self: center;
  width: auto;
  max-height: 100%;
  box-sizing: content-box;
  position: relative;

}


.LS_contents{
  height:79%;
  color:#5c5c5c;
  width: 100%;
  font-size: 1em;
  overflow: scroll;
}
.footer{
  display: flex;
background-color: #0193b8;
font-size: 2em;
border: 1px solid black;
justify-content: center;
}
.footer ul{
  color: #5c5c5c;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .5em;
}
.footer li{
  float:left;
  text-decoration: none;
}
.problemSolution{
  background-color: #5c5c5c;
  padding: 2%;
  color: white;
  font-size: medium;

}
.problemSolution ul{
  list-style: none;
  margin: 0;
padding: 0;
text-align: initial;
}
.problemSolutionSection{
font-size: x-large;
font-weight: bolder;
}
