.mainViewHide{
  height:100px;
  max-height: 0;
  opacity:  0;
transition: all 1s ease-in-out 500ms;
}
.mainViewShow{
  height:100%;
  max-height: 100%;
  opacity:  1;
  transition: opacity 1s;
}
                              /*MAIN VIEW*/
  /*.mainViewItemContainerStart{
ddddd
    transition: max-height 4s ease-in, opacity 2s ease-in;
  }*/
  /*needed?*/
.mainviewContainer{

  opacity: 1;
  position: relative;
  top:10%;
  left: 5%;
  overflow: scroll;
  height: 5345;
  max-width: 90%;
  max-height: 90%;
transition: max-height 4s ease-in, opacity 2s;

}
.mainViewItemContainer span{
  /*display: flex;
  flex-wrap: wrap;*/
  /*justify-content: space-around;*/

  max-height: 100%;
  opacity: 1;
  height: 93%;
  width: 100%;
  overflow: scroll;
  position: absolute;
  top: 7%;
  box-sizing: border-box;
  /*padding: 0 5% 0 0;*/
}
.infoBits-enter {
   opacity: 0.01;
}

.infoBits-enter.infoBits-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.infoBits-leave {
   opacity: 1;
}

.infoBits-leave.infoBits-leave-active {
   opacity: 0.01;
   transition: opacity 500ms ease-in;
}
.infoBits-appear {
  opacity: 0.01;
}

.infoBits-appear.infoBits-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
