@keyframes pulse {
  from { transform:scale(.8) }
  to { transform:scale(1) }
  /*0% { transform:scale(.5) }
  10% { transform:scale(.6)  }
  20% { transform:scale(.7)  }
  35% { transform:scale(.7)  }
  50% { transform:scale(.8)  }
  60% { transform:scale(1)  }
  75% { transform:scale(1.2)  }
  90% { transform:scale(1.3)  }
  100% { transform:scale(1.5)  }*/
}
.colorOne{
  fill:"#01b826"
}
.colorTwo{
  fill:"#0B1968"
}
.colorThree{
  fill:"#0193b8"
}
.colorFour{
  fill:"#813772"
}
.colorFive{
  fill:"#b82601"
}
.colorSix{
  fill:"#062f4f"
}

.SVGbottomLeft{
  animation: pulse 10s ease-in-out infinite alternate;

}
.SVGbottomRight{
  animation: pulse 10s ease-in-out infinite alternate;

}
.SVGtopRight{
  animation: pulse 10s ease-in-out infinite alternate;

}
.SVGtopLeft{
  animation: pulse 10s ease-in-out infinite alternate;

}
.SVGCtopCenter{
  animation: pulse 10s ease-in-out infinite alternate;

}
.SVGCcenter{
  animation: pulse 10s ease-in-out infinite alternate;

}

.svgContainer{
position: absolute;
overflow: hidden;
top:0;
left:0;
height:100%;
width: 100%;


}
.svgContainment{
  height:100%;
  width: 100%;
  overflow: hidden;
}
.svgOuter{
  position: absolute;
  overflow: hidden;
  top:0;
  left:0;
  height:100%;
  width: 100%;
}
/*#TopSVGCirles{
  animation-name: shiftingR;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /*transition: all 1s ease-in-out;*/
*/




/*@keyframes shiftingR {
  from {
    cy: 0%;
    fill: none;
    stroke: grey;
  }
  to {
    cy: 50%;
    fill: #9284D9;
    stroke: white;
  }
}*/


/*#shiftingR {
  animation-name: shiftingR;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}




*/
