body{
margin:0;
font-size: 62.5%;
font-family:  helvetica neue, helvetica, Arial;
}
.titleBox{

}
/* infoContainer<img src={"./style/iphone.png"}/> */
.infoContainer {
  background-color: #F8F8FF;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: .1em .1em .1em .1em;
}

.baseInfoContain{
  display: flex;
  flex-wrap: wrap;
}

div.infoContainer h1{
text-align: center;
}
div.infoContainer h3{
text-align: center;
}
div.infoContainer div{
text-align: center;
}


.infoContainerOuter{
width: 20em;
height:10em;
}
.imagePlaceholder{
height: 100%;
width: 100%;

  background-color: blue;
  margin-left: auto;
  margin-right: auto;

}


/* Plaine defaults */

.plaineOuter{
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 1.5em;
  overflow: scroll;
}
.plaineItem{
  background-color: #2f3438;
  /*background-image: linear-gradient(to right, #F8F8FF, #cacaca 96%);*/
}
.menuLabel{
  text-shadow: 0px -2px 0px #443242;
  transform: rotate(-90deg);
  position: relative;
  top: 50%;
  font-size: 2em;
  font-weight: bold;
}
