




.inputControlContainer{
width:100%;
display: flex;
flex-direction: row;
justify-content: space-between;
padding:2%;
}

a:-webkit-any-link{
  color:#FF6E40;
}
body {
  margin: 0;
  font-size: 62.5%;
  font-family: "Roboto";
  -webkit-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}
.icContentsBaseClass h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.ICInfoOverlay p {
  margin: 0;
}
.infoBase {
  margin-top: 2%;
  box-sizing: border-box;
  justify-content: center;
  padding: 2%;

  z-index: 0;
  float: left;
  transition: max-height 250ms ease-in-out;
}
.ICInfoHeaderTitlePost{
    font-size: large;
    max-height: 300px;
    background-color: #f0f5f9;
    color:#333030;
    padding-top: 1%;
    transition: max-height 250ms ease-in-out;
}
.ICInfoHeaderTitle{
    overflow: hidden;
    max-height:0;
    font-size: large;
    background-color: #f0f5f9;
    color:#333030;
    transition: max-height 250ms ease-in-out;

}

.ICInfoFooterPost{
  font-size: large;
  max-height: 300px;
  background-color: #0B1968;
  color:#ffffff;
  transition: max-height 250ms ease-in-out;
}
.ICInfoFooter{
  overflow: hidden;
  max-height:0;
  font-size: large;
  transition: max-height 250ms ease-in-out;
}
.ICInfoHeaderBottomTitle{
  font-size: medium;

}
.techStack{


margin: 0 4%;
padding: 0;
list-style: none;
display: flex;
justify-content: space-between;
padding: 0 2%;
flex-wrap: wrap;
z-index: 5;
}
.techStack li{
  float: left;
}

.ICInfoPic {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transition: all 250ms;
}

.ICTextContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  z-index: 0;
}
/*landing Drop*/

.landingBase {
  height: 100%;
  width: 100%;
  justify-content: center;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  transition: opacity 1s, height 250ms;
}
.landingMastHead {
  font-family: esteban;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  color: #ffffff;
  transition: opacity 1s, height 250s;
}
.landingInnerMastHead {
  line-height: 1em;
  transition: opacity 1s, height 2s;
}
.landingTitle {
  display: flex;
  justify-content: center;
  font-family: "Open Sans Condensed";
  font-size: 3.5em;
  text-shadow: grey 1px 1px 0.3px, white 1.3px 1.3px 0.4px, black 3px 4px 0.3px;
  transition: opacity 1s, height 2s;
}
.landingHeader {
  font-size: 3em;
  font-weight: 300;
  transition: opacity 1s, height 2s;
}
.landingSubHeader {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  transition: opacity 1s, height 2s;
}
/* change to header */
.landingTitleSTwo {
  opacity: 0;
}
.landingHeaderSTwo {
  opacity: 0;
}
.landingSubHeaderSTwo {
  opacity: 0;
}
.landingMastHeadSTwo {
  height: 0;
  opacity: 0;
  width: 100%;
}
.landingBaseSTwo {
  height: 0;
  opacity: 0;
}
/*LargeSingle*/
/*lsmain*/
.PartConclusion{
  text-indent: 3em;
  padding:2%;
  background-color: #E0E0E0;
  color: #333030;
  border-radius: 3px;
}
.PartsSummary{
  background-color: #0B1968;
  color: #ffffff;
  border-radius: 3px;

}


.LS_RenderedContents {
  font-size: 2.5em;
  color: #333030;
  padding: 4%;
}
.LS_Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 5;
}

.meSumList{
  text-align: left;
  text-indent: 0;
}
.LS_titleOuter {

  justify-content: center;

  width: 100%;
  background-color: #E0E0E0;
  -webkit-box-shadow: 0 4px 3px 0 #333030;
  -moz-box-shadow: 0 4px 3px 0 #333030;
  box-shadow: 0 4px 3px 0 #333030;
  border: 1px solid #51516B;
  border-radius: 4px;
  color: #333030;
  font-size: x-large;
  width: 100%;
  text-align: center;
  font-weight: bold;
  align-items: center;
  z-index: 7;
}


.LSImageContainer {

  width: 100%;
  background-color: #f0f5f9;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  text-indent: 0;
}
CodePenHandler {
  text-indent: 0;
}





/*main container*/
.mCBase {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
/*main view*/
.mainViewHide {
  height: 100px;
  max-height: 0;
  opacity: 0;
  transition: all 1s ease-in-out 500ms;
}
.mainViewShow {
  height: 100%;
  max-height: 100%;
  opacity: 1;
  transition: opacity 1s;
}
/*MAIN VIEW*/

.mainViewItemContainer span {
  max-height: 100%;
  opacity: 1;
  height: 93%;
  width: 100%;
  overflow: scroll;
  position: absolute;
  top: 7%;

}
.infoBits-enter {
  opacity: 0.01;
}
.infoBits-enter.infoBits-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.infoBits-leave {
  opacity: 1;
}
.infoBits-leave.infoBits-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
.infoBits-appear {
  opacity: 0.01;
}
.infoBits-appear.infoBits-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
/*svg component*/
@keyframes pulse {
  from {
    transform: scale(.8);
  }
  to {
    transform: scale(1);
  }
}
.colorOne {
  fill: "#01b826";
}
.colorTwo {
  fill: "#0B1968";
}
.colorThree {
  fill: "#0193b8";
}
.colorFour {
  fill: "#813772";
}
.colorFive {
  fill: "#b82601";
}
.colorSix {
  fill: "#062f4f";
}
.SVGbottomLeft {
  animation: pulse 10s ease-in-out infinite alternate;
}
.SVGbottomRight {
  animation: pulse 10s ease-in-out infinite alternate;
}
.SVGtopRight {
  animation: pulse 10s ease-in-out infinite alternate;
}
.SVGtopLeft {
  animation: pulse 10s ease-in-out infinite alternate;
}
.SVGCtopCenter {
  animation: pulse 10s ease-in-out infinite alternate;
}
.SVGCcenter {
  animation: pulse 10s ease-in-out infinite alternate;
}
.svgContainer {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.svgContainment {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.svgOuter {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*header*/
.headerContainer {
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 7%;
  width: 100%;
  background-color: #f0f5f9;
  color: #333030;
  max-height: 0;
  opacity: 0;
  -webkit-box-shadow: 0 3px 5px 0 #0B1968;
  -moz-box-shadow: 0 3px 5px 0 #0B1968;
  box-shadow: 0 3px 5px 0 #0B1968;
  transition: max-height 2s ease-in-out, opacity 2s;
}
.headerContainerP2 {
  z-index: 3;
  height: 7%;
  max-height: 345px;
  opacity: 1;
  display: flex;
  flex-direction: row;
}
.headerTitle {
  cursor: pointer;
  width: 35%;
  color: #333030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: relative;
  left: 2%;
  transition: opacity 1s;
}
.headerTitle h1 {
  margin: 0;
  font-size: 4.5vh;
  text-shadow: white 1px 0.3px 1px, black 1px 0px 0.1px;
}
.headerList {
  // padding: 0 4% 0 2%;
  align-items: center;
  color: #333030;
  height:100%;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  transition: opacity 1s;
  display: flex;
  flex-direction: row;
  line-height: 2;

}
.headerFilterContainer {
  width: 45%;
  height: 100%;
  color: #333030;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerFilterContainer h3 {
  padding: 0;
  margin: 0;
  font-size: 2em;
}
.headerList li {
  transition: all 250ms;
  width: 100%;
  margin: 0px 2px 0px 2px;
  text-align: center;
  cursor: pointer;


}

.filteredOut {
  height:50%;
  box-shadow: inset 2px 2px 2px black;
  background-color: #E0E0E0;
  color:#0B1968;
  transform: skew(-12deg);
  line-height: 2.5;
  font-size: 2vh;
}
.notFilteredOut {
  height:50%;
  box-shadow: 4px -3px 7px #000;
  background-color: #0B1968;
  color:#ffffff;
  transform: skew(-12deg);
  width: 100%;
  line-height: 1;
  font-size: 3vh;

}

/*sidecontainer*/
.TitlesTag {
  font-weight: bold;
  font-size: 2em;
  color: #333030;
}
.sitede {
  padding: 4%;

}
.talking {
  color: #333030;
  font-size: 1em;
  text-indent: 3em;
  line-height: 1.5em;
}
.reactName {
  color: #61dafb;
  font-weight: 400;
  font-size: 2em;
}
.angularName {
  color: red;
  font-weight: 400;
  font-size: 2em;
}
.hiddenSideButton {
  width: 0;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
}
.activeSideButton {
  color: #ffffff;
  opacity: 1;
  position: absolute;
  background-color: #f0f5f9;
  z-index: 5;
  right: 0;
  width: 2%;
  height: 100%;
  /* IE10+ */
  background-image: -ms-linear-gradient(left, #FFFFFF 00%, #c5c5d3 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #FFFFFF 00%, #c5c5d3 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #FFFFFF 00%, #c5c5d3 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(00, #FFFFFF), color-stop(100, #c5c5d3));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #FFFFFF 00%, #c5c5d3 100%);
  /* W3C Markup */
  background-image: linear-gradient(to right, #FFFFFF 00%, #c5c5d3 100%);
}
.activeSideButton h3 {
  width: 100%;
  position: relative;
  margin: 0;
  transform: rotate(-90deg);
  top: 50%;
}
.sideBase {
  max-width: 0;
  transition: max-width 250ms;
}
.SideStartState {
  max-width: 0%;
  max-height: 0%;
  background-color: #E0E0E0;

  border-radius: 8px 0 0 8px;
  position: absolute;
  top: 2%;
  right: 12%;
  display: flex;
  z-index: 5;
  opacity: 1;
  flex-direction: column;
  transition: 500ms;
  overflow: hidden;
}
.SideEndState {

  max-width: 100%;
  max-height: 92%;
  transition: height 250ms ease-in-out;
  position: absolute;
  top:7%;
  right:0;
}
/*at base*/
.activeSideContainer {
  height: 100%;
  width: 100%;
  max-height: 100%;
  background-color: #f0f5f9;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 5;
  box-sizing: content-box;
}
.disabledSide {
  height: 1px;
  width: 100%;
  max-height: 0;
  background-color: #E0E0E0;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.SChead {
  max-height: 345px;
  opacity: 1;
  display: flex;
  color: #333030;
  font-size: 5vh;
  text-align: center;
  width: 100%;
  background-color: #f0f5f9;
  margin-bottom: 2%;
}
.SideEndState h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  }
.SideStartState::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
}
.SideStartState::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.SCcontent {
  padding: 2%;
  overflow: scroll;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
.SClongContainer {
  cursor: ns-resize;
  margin-bottom: 2%;
  border-radius: 3px;
  padding: 2% 0;
  background-color: #f0f5f9;
  -webkit-box-shadow: 3px 10px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 3px 10px 5px 0 rgba(0,0,0,0.75);
  background-color: #f0f5f9;
}
.SChamburgerFoldBot {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 10%;
  width: 100%;
  border-radius: 3px;
  background-color: #0B1968;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  /* padding: 4%; */
}
.SChamburgerFoldBot ul {
  padding: 2%;
  margin: 0;
  color:#ffffff;
  width: 75%;
  height: 15%;
  font-size: 1em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SChamburgerFoldBot a {
  font-size: 1em;
  color:#ffffff;
}
.SChamburgerFoldTop {
  color:#ffffff;
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  line-height: 100%;
  text-shadow: 1px 0px 0 #ffffff,2px 2px 0px #606285,3px 2px 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.loading{
  background-image: url("https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-671953655197/showertea.gif");
}
.imageLoading{
  opacity: 0;
  transition: opacity 500ms ease-in-out;

}
.imageDoneLoading{
  opacity:1;
}

.previewLI{
  background-color: #ffffff;
  color: #black;
}
.previewLIHighlight{
  background-color: #0B1968;
  color: #ffffff;
}

.previewTitle{
  text-align: left;
  padding: 1% 0%;
}
.adminControl{
  width: 100%;
  height:10%;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.adminSections{
  width: 100%;
  height:90%;
  overflow: scroll;
}
.adminControl ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
.adminNavBtns{
  align-self: center;
  padding: .7em;
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.adminContainer{
  font-size: 1.5em;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  width: 100%;
  height:100%;
}
.adminCreationContainer{
  width: 50%;
  height: 100%;
  background-color: blue;
  float:left;
  overflow: scroll;
}
.adminCreationInnerContainer{
  padding: 2%;

}
.adminPreviewContainer{
  width: 48%;

  float:left;
  padding:3px;

}
.creationContainer{
  width: 100%;
  background-color: #0B1968;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creationContainer h1{
  margin: 0;
}
.emptyInputContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.emptyInputContainer label{
  justify-content: center;
  text-align: left;
  color: #ffffff;
  padding: 1%;
}
.emptyInputDefault{
  max-height: 0px;
  height: 2em;
  transition: all 0.5s ease-in-out;
}
.emptyInputShowtime{
  max-height: 2em;
  height: 2em;
  transition: all 0.5s ease-in-out;
}
.emptyTextAreaDefault{
  max-height: 0px;
  height: 5em;
  transition: all 0.5s ease-in-out;
}
.emptyTextAreaShowtime{
  max-height: 5em;
  height: 5em;
  transition: all 0.5s ease-in-out;
}
.previewListContainer{
  width: 100%;
}
.previewListContainer ul{
  padding: 0;
  margin: 0 2%;
  list-style: none;
}
.previewListContainer li{
font-size: 1em;
}
textarea.emptyInputDefault {
    font-size: 1em;
}
.creationTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2%;

}
.creationTitle h2{
  align-self: center;
}
.homeContainer{
  font-size: 1.5em;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  width: 100%;
  height:100%;
  top: 0%;
}
.landingContainer{

  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  width: 100%;
  height:100%;
  top:0;
}
.homeMainContainer{
  position: absolute;
  width: 100%;
  height: 93%;
  top:7%;
  overflow: scroll;
}
.previewThumbContainer {
  width:30%;
  display: flex;
  flex-direction: column;
  color:#f0f5f9;
  text-align: center;
  z-index: 5;
  transition: all 500ms;
  border-radius: 5px;
  opacity: 1;
}
.seperator{
  height:93%;
}
.previewThumbBtn{
  height:7%;
}
.previewImageContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #f0f5f9;
    padding: 2% 0%;
}

.mainViewContainer{
  justify-content: space-around;
  max-height: 45%;
  min-height: 45%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
}
.previewTextContainer{
  // height: 100%;
  // color: #333030;
  color:#E0E0E0;
  // padding: 2%;
  // background-color: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  // border-radius: 3px;

}
.previewTextContainer h1{
  margin-top:0;
  color:#f0f5f9;
  margin-bottom: 1%;
}
.previewTitle{
  text-align: left;
}
.LV_OuterCont {
  height:100%;
  background-color: #E0E0E0;
  width: 95%;
  padding: 1%;
  opacity: 1;
  z-index: 10;
  position: absolute;
  top: 4%;
  right:1.5%;
  overflow: scroll;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LV_innerContents{
  width: 100%;
  padding: 0 2% 2% 2%;
  background-color: #f0f5f9;
}
.footer {
  background-color: #062f4f;
  align-items: center;
  color: #f0f5f9;
  border-radius: 4px;
  margin-top: .5em;
  display: flex;
  font-size: 2em;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 0px 2px #FF6E40;


}
.footer ul {

  height:100%;
  color: #FF6E40;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.footer li {
  float: left;
  text-decoration: none;
  margin: 0 40;
}
.LS_contents {

  color: #333030;
  width: 100%;
  font-size: 1em;
  height: 100%;

}
.LScontentItems {
  width: 100%;
  font-weight: 1.5em;
  background-color: #f0f5f9;
}
.paragraph {
  font-family: sans-serif;
  text-indent: 3em;
  text-align: left;
}
.innerContents_headerContents {

  font-size: 5vh;
  text-align: center;
}

.problemSolution {
  margin: 5% 0;
  background-color: #0B1968;
  padding: 4%;
  color: #ffffff;
  font-size: medium;
}
.problemSolution ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: initial;
  text-indent: 3em;
}
.problemSolutionSection {
  font-size: x-large;
  font-weight: bolder;
}
.LS_contentsContainer img {
  align-self: center;
  width: auto;
  max-height: 100%;
  box-sizing: content-box;
  position: relative;
}
.arrowContainer{

height: 100%;
display: flex;
justify-content: center;

}
.arrows{
  display: flex;
  width: 25%;
  justify-content: space-around;

}
.ImageSliderContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.sliderImage{
  transition: height 500ms ease-in-out, width 500ms ease-in-out;
}
.addSideMargin{
  margin:2%;
}
.noShow{
  display: none;
}
.previewThumbList{
list-style-type: circle;
  text-align: left;

  // margin-bottom: 2%;
  width: 100%;

}

.previewThumbList li{
  width:45%;
  float:left;
  text-align: left;
  margin-right:2%;
}

.footerDisplay{
  padding: 2%;
  text-align: end;
}
.footerDisplay h4{
  text-align: left;
}
.goGone{
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.hereHere{
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.contentContainer{
width: 100%;
}
.previewInputContainer{
  float:left;
  width: 45%;
  padding: 0 2%;
}
.mainInfoInputContainer{
  float:left;
  width: 45%;
  padding: 0 2%;
}
.topCreationContainer{
  width: 100%;
}
.closeBtn{
  width: 6em;
  position: fixed;
  top: 11%;
  left: 1.6%;
  cursor: pointer;
  background-color:red;
  border: 1px solid blue;
  text-align: center;
  font-family: Roboto;
  color: black;
  box-shadow: 0 0 0 2px #ffffff;
  border-radius: 2px;
  letter-spacing: .4em;
  text-shadow: 1px 1px 3px;
}
.headerTitle i {
  left:50%;
  position: relative;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

i.fa.fa-times-circle{
  transition: opacity 500ms ease-in-out;
  opacity:1;
  margin: 10px 0px 0px 0px;
  font-size: 6.5vh;
  text-shadow: white 1px 0.3px 1px, black 1px 0px 0.1px;
  justify-content: center;
  z-index: 100;
  color:#FF6E40;
}

i.fa.fa-info-circle.fa-3x{
  transition: opacity 500ms ease-in-out;
  margin: 0;
  font-size: 4.5vh;
  text-shadow: white 1px 0.3px 1px, black 1px 0px 0.1px;
  justify-content: center;
  opacity:1;
}
.sideActive{

}
